$font-family-sans-serif-punctuation: Punctuation;
$font-family-sans-serif-chinese: "Noto Sans CJK SC", "Source Han Sans CN","Source Han Sans SC", "Source Han Sans", "Microsoft YaHei";
$font-family-sans-serif-latin: Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans";
$font-family-sans-serif: unquote("#{inspect($font-family-sans-serif-punctuation)}, #{inspect($font-family-sans-serif-latin)}, #{inspect($font-family-sans-serif-chinese)}, sans-serif");

@font-face {
  font-family: Punctuation;
  src: local("Noto Sans CJK SC"), local("Source Han Sans CN"), local("Source Han Sans SC"), local("Source Han Sans");
  unicode-range: 
    U+00B7, /* · */
    U+2014, /* — */
    U+2018-2019, /* ‘’ */
    U+201C-201D, /* “” */
    U+2026, /* … */
    U+25CF, /* ● */
    U+FF0E; /* ． */
}

:root {
  --bs-font-sans-serif-punctuation: #{inspect($font-family-sans-serif-punctuation)};
  --bs-font-sans-serif-chinese: #{inspect($font-family-sans-serif-chinese)};
  --bs-font-sans-serif-latin: #{inspect($font-family-sans-serif-latin)};
  --bs-font-sans-serif: #{inspect($font-family-sans-serif)};
}

body {
  font-family: var(--bs-font-sans-serif);

  &[lang="en"], [lang="en"] {
    font-family: var(--bs-font-sans-serif-latin), sans-serif;
  }
}