    <div class="ni-content container">
      <div class="row">
        <div class="ni-content-main col-sm-{% if page.no_sidenav %}12{% else %}9{% endif %}">
          <div class="ni-heading">{% unless page.no_date %}
            <div class="ni-heading-date">{{ page.date | date: "%Y.%-m.%-d" }}</div>{% endunless %}
            <h1>{{ page.title | default: site.name }}</h1>
          </div>{% if page.image != site.default_image %}
{% include figure.html blank="          " src=page.image alt=page.title width=page.image_width height=page.image_height no_link=true class="ni-content-image" %}{% endif %}
          <article>{% capture LINE_BREAK %}
{% endcapture %}{% capture DOUBLE_LINE_BREAK %}{{ LINE_BREAK }}{{ LINE_BREAK }}{% endcapture %}{% capture LINE_BREAK_INDENT %}
            {% endcapture %}{% assign _content = content | strip | replace: '<a href="http', '<a target="_blank" href="http' %}
            {% assign _splited_pres = _content | split: "<pre " %}{% for _pre in _splited_pres %}{% if forloop.first %}{{ _pre | replace: DOUBLE_LINE_BREAK, LINE_BREAK | replace: LINE_BREAK, LINE_BREAK_INDENT }}{% else %}<pre {% assign _splited_part = _pre | split: "</pre>" %}{{ _splited_part[0] }}</pre>{{ _splited_part[1] | replace: DOUBLE_LINE_BREAK, LINE_BREAK | replace: LINE_BREAK, LINE_BREAK_INDENT }}{% endif %}{% endfor %}
          </article>{% if page.author %}
          <div class="ni-author">
            <div class="ni-author-text">{% if site.data.authors[page.author] %}{{ site.data.authors[page.author].name }}{% else %}{{ page.author }}{% endif %}</div>
            <div class="ni-author-image">{{ site.data.authors[page.author].no_image }}{% if site.data.authors[page.author] %}{% unless site.data.authors[page.author].no_image  %}{% capture _url %}{{ site.image_cdn }}/authors/{{ page.author }}.png{% endcapture %}{% include image.html src=_url width="50" height="50" %}{% endunless %}{% endif %}</div>
          </div>{% endif %}{% if page.sources or page.references or page.links or page.logs %}
          <div class="ni-infobox-bottom">{%if page.sources %}
            <div class="ni-info-sources">
              <div class="ni-info-sources-head">源地址</div>
              <ul>{% for source in page.sources %}
                <li><a lang="ja" href="{{ source[0] }}">{{ source[1] }}</a></li>{% endfor %}
              </ul>
            </div>{% endif %}{%if page.references %}
            <div class="ni-info-references">
              <div class="ni-info-references-head">参考资料</div>
              <ul>{% for reference in page.references %}
                <li><a href="{{ reference[0] }}">{{ reference[1] }}</a></li>{% endfor %}
              </ul>
            </div>{% endif %}{%if page.links %}
            <div class="ni-info-links">
              <div class="ni-info-links-head">相关链接</div>
              <ul>{% for link in page.links %}
                <li><a href="{{ link[0] }}">{{ link[1] }}</a></li>{% endfor %}
              </ul>
            </div>{% endif %}{%if page.logs %}
            <div class="ni-info-logs">
              <div class="ni-info-logs-head">更新历史</div>
              <ul>{% for log in page.logs %}
                <li>{{ log }}</li>{% endfor %}
              </ul>
            </div>{% endif %}
          </div>{% endif %}{% unless jekyll.environment == "development" or page.no_comment %}
          <div class="ni-content-comment hidden-print">
            <div id="lv-container" data-id="city" data-uid="MTAyMC80MTk5MS8xODUzOA=="></div>
            <script src="https://cdn-city.livere.com/js/embed.dist.js" async="async"></script>
          </div>{% endunless %}
        </div>{% unless page.no_sidenav %}
        <div class="ni-sidenav col-sm-3 hidden-print hidden-xs">
          {% include toc.html html=content h_max=4 class="ni-sidenav-list nav nav-stacked affix" submenu_class="nav nav-stacked" %}
        </div>{% endunless %}
      </div>
    </div>