    {% assign _excerpt = page.content | split: "<p>" %}{% assign _excerpt = _excerpt[1] | split: "</p>" %}{% assign _excerpt = _excerpt[0] | strip_html -%}
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="keywords" content="任天堂,开发者访谈,采访{% if page.game %},{{ page.game }}{% endif %}{% if page.interviewees %},{{ page.interviewees | join: "," }}{% endif %}"/>
    <meta name="referrer" content="same-origin"/>
    <link rel="shortcut icon" href="{{ "/assets/images/favicon.svg" | relative_url }}"/>
    <link rel="alternate shortcut icon" href="{{ "/assets/images/favicon.png" | relative_url }}"/>
    <link rel="apple-touch-icon" href="{{ "/assets/images/favicon.png" | relative_url }}"/>
    <meta name="theme-color" content="#e60012"/>
    <title>{% if page.title and page.title != "" %}{{ page.title }} - {% endif %}{{ site.name }}</title>
    <!-- ogp -->
    <meta property="og:title" content="{% if page.title and page.title != "" %}{{ page.title }} - {% endif %}{{ site.name }}">
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ page.description | default: _excerpt }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    {%- capture _page_image %}{% assign _splited_src = page.image | split: "/" %}{% if _splited_src.size == 1 %}{% assign _splited_url = page.url | split: "." %}{{ site.image_cdn }}{{ _splited_url[0] }}/{% endif %}{{ page.image }}{% endcapture %}
    <meta property="og:image" content="{{ _page_image }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <!-- //ogp -->
    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ninterviews">
    <meta name="twitter:creator" content="@xzonn2000">
    <meta name="twitter:title" content="{% if page.title and page.title != "" %}{{ page.title }} - {% endif %}{{ site.name }}">
    <meta name="twitter:description" content="{{ page.description | default: _excerpt }}">
    <meta name="twitter:image:src" content="{{ _page_image }}">
    <!-- //twitter -->
    <!-- localstorage -->
    <style id="ni-local-storage-style"></style>
    <script>
      window.niLocalStorage = JSON.parse(localStorage.getItem("niLocalStorage") || "{}") || {};
      (function () {
        let style = document.getElementById("ni-local-storage-style"),
            sheet = style.sheet;
        if (niLocalStorage.youtube) {
          sheet.insertRule(".bilibili-video { display: none !important; }");
        } else {
          sheet.insertRule(".youtube-video { display: none !important; }");
        }
        if (niLocalStorage.han) {
          sheet.insertRule("h-hws:not(.quote-inner, .quote-outer), h-hws[hidden]:not(.quote-inner, .quote-outer) { display: inline; user-select: none; letter-spacing: -0.15em; }");
        }
      })();
    </script>
    <!-- //localstorage -->
    <!-- jquery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" crossorigin="anonymous"></script>
    <!-- //jquery -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ "/assets/css/base.css" | relative_url }}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- //bootstrap -->
    <!-- other -->
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
    <script src="https://hm.baidu.com/hm.js?26759d7ed9d7a374e662312934539842"></script>