---
layout: default
---
<div class="ni-category">{% assign collection = site.collections | where: "label", page.collection | first %}
  <div>
    <ul class="ni-category-list">{% assign _docs = collection.docs | reverse %}{% for interview in _docs %}{% unless interview.no_date or interview.no_index %}
      <li><a href="{{ interview.url | relative_url }}">{{ interview.title }}</a> [{{ interview.date | date: "%Y.%m.%d" | replace: ".0", "." }}]</li>{% endunless %}{% endfor %}
    </ul>
  </div>
</div>{% assign content_s = content | strip %}{% if content_s != "" %}
<hr>{% endif %}
{{ content }}